
.hero-section-contact {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1518770660439-4636190af475?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.contact-form-section {
    background-color: var(--card-background);
    border-radius: 15px;
    padding: 3rem;
}

.form-label {
    color: var(--primary-color);
    font-weight: 600;
}

.form-control {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 12px;
}

.form-control:focus {
    background-color: var(--background-color);
    border-color: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 0 0 0.25rem rgba(244, 124, 32, 0.25);
}

.form-control::placeholder {
    color: var(--text-muted);
}
